.footer {
  background-color: #B2B2B233;
  padding: 96px 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 32px;
}

.image {
  width: 158px;
  height: 50px;
}

.phone {
  margin: 0 0 6px;
  font-weight: 700;
  font-size: 30px;
  line-height: 147%;
}

.email{
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 147%;
}

.links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 28px;
  border-bottom: 2px solid #ffff;
}

.link{
  font-weight: 500;
  font-size: 16px;
  line-height: 147%;
  letter-spacing: 2%;
  margin-right: 32px;
  margin-bottom: 8px;
}

.description{
  color: #2D3748;
  font-weight: 500;
  font-size: 16px;
  line-height: 147%;
  letter-spacing: 2%;
}